@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="display-4 text-success fw-bold">Welcome to the Student Management System</h1>
            <p class="lead text-dark mt-3">
                Manage student information seamlessly and efficiently. Our system ensures accuracy and simplicity in handling student records.
            </p>

        </div>
    </div>
</div>
